/* ELEMENTI */
body {
  font-family: 'Roboto', sans-serif;
}
section {
  padding: 50px 0;
}
img {
  width: 100%;
}
.ms_h2,
.ms_h3 {
  margin: 8px 0;
}
.ms_button {
  display: inline-block;
  border: 0;
  border-radius: 5px;
  font-weight: 500;
}

/* navbar */
.ms_navbar {
  padding: 15px 15px;
}
.ms_nav-extended ul {
  margin: 0;          /* reset margine alla lista per assegnare line-height */
}
.ms_nav-extended ul li {
  line-height: 32px;
}
.ms_brand img {
  width: 172px;
}
.glyphicon-menu-hamburger {
  line-height: 32px;
  font-size: 20px;
  color: #2380f8;
}
.ms_btn-signup {
  background-color: #FFF;
  padding: 1px 15px;
  border: 1px solid #1942f9;
  color: #1942f9;
}




/* welcome & quick access section */
.ms_welcome-access {
  background-image: url("../img/bg-header.jpg");
}
.ms_access-wrapper {
  background-color: #FFF;
  border-radius: 6px;
  padding: 30px;
}
.ms_form-title {
  margin-bottom: 20px;
}
.ms_access-wrapper .ms_button {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px 0;
}
.ms_btn-create {
  background-color: #5596fa;
  color: #FFF;
}
.ms_btn-google {
  background-color: #FFF;
  color: #626262;
  box-shadow: 0 2px 2px 0 #ccc;
}





/* partners */
.ms_partners-sec {
  text-align: center;
  background-color: #f3f5f9;
}
.ms_partner {

  width: 15%;
}
.ms_thumbnail {
  width: 100%;
  padding: 10px;
}


/* deploy section */
.ms_deploy-wrapper {
  padding-left: 50px;
}
.ms_deploy-menu {
  border-left: 2px solid lightgrey;
  margin: 0;
}
.ms_deploy-menu li {
  padding: 5px 15px;;
}
.ms_icon {
  width: 40px;
}


/* carousel */
.ms_carousel {
  background-color: #f3f5f9;
}
.ms_slide {
  width: 50%;
  margin: auto;
}
.ms_slide {
  width: 50%;
  margin: auto;
  display: inline-block;
}
.ms_gliph-left {
  display: inline-block;
  margin-left: auto;
  font-size: 25px;
  margin-right: 15px;
}
.ms_gliph-right {
  display: inline-block;
  margin-right: auto;
  font-size: 25px;
  margin-left: 15px;
}




@media screen and (max-width: 767px) {
  .ms_xs_first-item,
  .ms_xs_second-item {
    width: 40%;
  }

}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .ms_xs_first-item,
  .ms_xs_second-item {
    width: 16%;
  }
}
