/* ELEMENTI */
body {
  font-family: 'Roboto', sans-serif;
}



/* navbar */
.ms_navbar {
  background-color: yellow;
  border: 1px solid blue;
}
.ms_nav-extended {
  border: 1px solid red;
}
.ms_brand {
  background-color: coral;
}
.ms_nav-products {
  background-color: lightblue;
}
.ms_nav-quick-support {
  background-color: black;
}
.ms_hamburger {
  background-color: green;
}

/* welcome & quick access section */
.ms_welcome-access {
  background-color: #1942f9;
  min-height: 200px;
}

.ms_welcome-text {
  background-color: pink;
}
.ms_access-form {
  background-color: red;
}
